body {
    /* background-image: linear-gradient(white,rgb(63, 191, 241)); */
    background-image: linear-gradient(white,rgb(131, 215, 248));
    /* background-image: linear-gradient(rgb(109, 109, 109), rgb(49, 49, 49)) */
}

#portfolioBlock {
    height: 100%;
}

#portfolioRow {
    margin-top: 6rem;
    width: 100%;
}

.types {
    position: relative;
    top: -7rem;
}

#col1, #col2, #col3 {
    position: relative;
    left: 10rem;
}

#sortButton {
    position: relative;
    right: 0px;
    
}

#aboutBlock, #portfolioBlock, #contactBlock {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#commentOpen {
    position: fixed;
    right: 3%;
}

#commentBox {
    width: 15%;
    position: fixed;
    right: 10px;
    background-color: white;
    border: 1px solid black;
}

footer {
    margin-top: 6rem;
}

#commentInstructions {
    margin-top: 6rem;
}

#textarea2, #commentInstructions{
    width: 14rem !important;
}

.topText {
    color:black
}

nav {
    /* background-image: linear-gradient(rgb(63, 191, 241), rgb(75, 158, 253)) !important; */
    background-image: linear-gradient( rgb(93, 169, 255), rgb(176, 213, 255)) !important;
}
#kensen {
    color: black !important;
    /* font-family: 'Ibarra Real Nova', serif; */
    /* -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white; */
  font-size: 2rem;
}

.hidden {
    opacity: 0;
}

#aboutBlock {
    height: 100%;

}

#contactBlock {
    /* NEEDED positioning of these SO THAT EXPANDING THE CARD WOULDNT PUSH THESE DOWN*/
    height: 100%;
    position: relative;
}

#contactMe {
    /* NEEDED positioning of these SO THAT EXPANDING THE CARD WOULDNT PUSH THESE DOWN*/
    position: absolute;
    vertical-align: top;
    top:0px;
}

.activator {
    height: 200px;
    width: 100%;
}

.flyInLeft {
    -webkit-animation: flyInLeft 1s;
    opacity: 1;
}

@-webkit-keyframes flyInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }
}

.flyInRight {
    -webkit-animation: flyInRight 1s;
    opacity: 1;
}

@-webkit-keyframes flyInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(100px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }
}

@-webkit-keyframes flyInTop {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -100px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }
}

.flyInTop {
    -webkit-animation: flyInTop 1s;
    animation-delay: 1s;
    opacity: 1;
}

span {
    height: 20px !important;
}

.circle {
    height:50px;
    width: 50px;
    border: 1px solid gray
}

.smallerTitles {
    font-size: 16px !important;
    font-weight: 400 !important;
}

@media only screen and (max-width: 900px) {

    .hasSmallScreen {
        visibility: hidden;
    }

    #mobilePictureDiv {
        display:block
    }

    #mobilePicture {
        margin: auto
    }

    #myImage {
        width: 250px !important;
        height: 250px !important;
        position:relative;
        border: 10px solid white
    }

    #kensen {
        font-size: 1.5rem;
        width: 100%;
    }

    #sortButton {
        display:none;
    }

    .header, #contactMe {
        font-size: 1.5rem !important;
    }

    .row:not(.not) {
        margin-top: 2rem !important;
    }

    .collection {
        width: 90%;
        margin: 0 auto;
        top: -100px
    }
    
}

@media only screen and (max-width: 600px) {

    .hasSmallScreen {
        visibility: hidden;
    }

    #mobilePictureDiv {
        display:block
    }

    #mobilePicture {
        margin: auto
    }

    #myImage {
        width: 250px !important;
        height: 250px !important;
        position:relative;
        border: 10px solid white;
        margin: 0 auto;
    }

    #kensen {
        font-size: 1.5rem;
        width: 100%;
    }

    #sortButton {
        display:none;
    }

    .header, #contactMe {
        font-size: 1.5rem !important;
    }

    .row:not(.not) {
        margin-top: 2rem !important;
    }

    .collection {
        width: 90%;
        margin: 0 auto;
        top: -100px
    }

    .card.horizontal, .card-image {
        max-width: 100% !important;
    }

    
    
}

@media only screen and (max-width: 2000px) {
    .thumbnail {
        width: 280px;
        height: 280px;
        position: relative;
        bottom: 80px;
        border-style: hidden;
        border-width: 20px;
        margin-bottom: 30px;
    }
    
    .deflate {
        -webkit-animation: deflate 0.5s;
        width: 280px;
        height: 280px;
        -webkit-transform: translate(0px, 0px);
    }
    
    .fade {
        -webkit-animation: fade 0.5s;
        filter: brightness(80%);
    }
    
    .brighten{
        -webkit-animation: brighten 1s;
        filter: brightness(100%);
    }
    
    #col1, #col2, #col3 {
        position: relative;
        left: 4rem;
    }
    
    @-webkit-keyframes fade {
        0% {
            filter: brightness(100%);
        }
    
        100% {
            filter: brightness(80%);
        }
    }
    
    @-webkit-keyframes brighten {
        0% {
            filter: brightness(80%)
        }
    
        100% {
            filter: brightness(100%);
        }
    }
    
    .scaleup {
        -webkit-animation: scaleup 0.5s;
        transform: scale(1.1, 1.1);
    }
    
    @-webkit-keyframes scaleup {
        0% {
          
          transform: scale(1, 1);
        }
    
        100% {
           transform: scale(1.1, 1.1);
        }
    }
     
    .thumbnailFade {
        -webkit-animation: thumbnailFade 1s;
        opacity: 1;
    }
    
    @-webkit-keyframes thumbnailFade {
        0% {
            opacity: 0;
    
        }
        100% {
    
            opacity: 1;
        }
    }
    
    #myImage {
        width: 250px !important;
        height: 250px !important;
        position:relative;
        border: 10px solid white
    }
}

@media only screen and (max-width: 1680px) {

    .thumbnail {
        width: 280px;
        height: 280px;
        position: relative;
        bottom: 80px;
        border-style: hidden;
        border-width: 20px;
        margin-bottom: 30px;
    }
    
    .deflate {
        -webkit-animation: deflate 0.5s;
        width: 280px;
        height: 280px;
        -webkit-transform: translate(0px, 0px);
    }
    
    .fade {
        -webkit-animation: fade 0.5s;
        filter: brightness(80%);
    }
    
    .brighten{
        -webkit-animation: brighten 1s;
        filter: brightness(100%);
    }
    
    #col1, #col2, #col3 {
        position: relative;
        left: 3rem;
    }

    #portfolioRow {
        /* width:120% !important; */
    }
    
    @-webkit-keyframes fade {
        0% {
            filter: brightness(100%);
        }
    
        100% {
            filter: brightness(80%);
        }
    }
    
    @-webkit-keyframes brighten {
        0% {
            filter: brightness(80%)
        }
    
        100% {
            filter: brightness(100%);
        }
    }

    
    
    .scaleup {
        -webkit-animation: scaleup 0.5s;
        transform: scale(1.1, 1.1);
    }
    
    @-webkit-keyframes scaleup {
        0% {
          
          transform: scale(1, 1);
        }
    
        100% {
           transform: scale(1.1, 1.1);
        }
    }
    
    
    .thumbnailFade {
        -webkit-animation: thumbnailFade 1s;
        opacity: 1;
    }
    
    @-webkit-keyframes thumbnailFade {
        0% {
            opacity: 0;
    
        }
        100% {
    
            opacity: 1;
        }
    }
    
    #myImage {
        width: 250px !important;
        height: 250px !important;
        position:relative;
        border: 10px solid white
    }
}

.row:not(.not) {
    margin-top: 15rem;
}

@media only screen and (max-width: 1480px) {

    .thumbnail {
        width: 230px;
        height: 280px;
        position: relative;
        bottom: 80px;
        border-style: hidden;
        border-width: 20px;
        margin-bottom: 30px;
        
    }
    
    .deflate {
        -webkit-animation: deflate 0.5s;
        width: 230px;
        height: 280px;
        -webkit-transform: translate(0px, 0px);
    }
    
    .fade {
        -webkit-animation: fade 0.5s;
        filter: brightness(80%);
    }
    
    .brighten{
        -webkit-animation: brighten 1s;
        filter: brightness(100%);
    }
    
    #col1, #col2, #col3 {
        position: relative;
        left:2rem !important;
    }

    #portfolioRow {
        /* width:130% !important; */
    }
    
    @-webkit-keyframes fade {
        0% {
            filter: brightness(100%);
        }
    
        100% {
            filter: brightness(80%);
        }
    }
    
    @-webkit-keyframes brighten {
        0% {
            filter: brightness(80%)
        }
    
        100% {
            filter: brightness(100%);
        }
    }

    
    
    .scaleup {
        -webkit-animation: scaleup 0.5s;
        transform: scale(1.1, 1.1);
    }
    
    @-webkit-keyframes scaleup {
        0% {
          
          transform: scale(1, 1);
        }
    
        100% {
           transform: scale(1.1, 1.1);
        }
    }
    
    
    .thumbnailFade {
        -webkit-animation: thumbnailFade 1s;
        opacity: 1;
    }
    
    @-webkit-keyframes thumbnailFade {
        0% {
            opacity: 0;
    
        }
        100% {
    
            opacity: 1;
        }
    }
    
    #myImage {
        width: 250px !important;
        height: 250px !important;
        position:relative;
        border: 10px solid white
    }
}


@media only screen and (max-width: 1140px)  {

    .thumbnail {
        width: 200px;
        height: 280px;
        position: relative;
        bottom: 80px;
        border-style: hidden;
        border-width: 20px;
        margin-bottom: 30px;
        margin-right: 30px !important;
    }
    
    .deflate {
        -webkit-animation: deflate 0.5s;
        width: 200px;
        height: 280px;
        -webkit-transform: translate(0px, 0px);
    }
    
    .fade {
        -webkit-animation: fade 0.5s;
        filter: brightness(80%);
    }
    
    .brighten{
        -webkit-animation: brighten 1s;
        filter: brightness(100%);
    }
    
    #col1, #col2, #col3 {
        position: relative;
        left:-3rem ;
    }

    #portfolioRow {
        /* width:140% !important; */
    }
    
    @-webkit-keyframes fade {
        0% {
            filter: brightness(100%);
        }
    
        100% {
            filter: brightness(80%);
        }
    }
    
    @-webkit-keyframes brighten {
        0% {
            filter: brightness(80%)
        }
    
        100% {
            filter: brightness(100%);
        }
    }

    
    
    .scaleup {
        -webkit-animation: scaleup 0.5s;
        transform: scale(1.1, 1.1);
    }
    
    @-webkit-keyframes scaleup {
        0% {
          
          transform: scale(1, 1);
        }
    
        100% {
           transform: scale(1.1, 1.1);
        }
    }
    
    
    .thumbnailFade {
        -webkit-animation: thumbnailFade 1s;
        opacity: 1;
    }
    
    @-webkit-keyframes thumbnailFade {
        0% {
            opacity: 0;
    
        }
        100% {
    
            opacity: 1;
        }
    }
    
    #myImage {
        width: 250px !important;
        height: 250px !important;
        position:relative;
        border: 10px solid white
    }
}

@media only screen and (max-width: 1040px) and (min-width: 993px) {

    .thumbnail {
        width: 200px;
        height: 280px;
        position: relative;
        bottom: 80px;
        border-style: hidden;
        border-width: 20px;
        margin-bottom: 30px;
        margin-right: 30px !important;
    }
    
    .deflate {
        -webkit-animation: deflate 0.5s;
        width: 200px;
        height: 280px;
        -webkit-transform: translate(0px, 0px);
    }
    
    .fade {
        -webkit-animation: fade 0.5s;
        filter: brightness(80%);
    }
    
    .brighten{
        -webkit-animation: brighten 1s;
        filter: brightness(100%);
    }
    
    #col1, #col2, #col3 {
        position: relative;
        left:-3 rem ;
    }

    #portfolioBlock, #aboutBlock, #contactBlock {
        width: 110%;
    }

    #portfolioRow {
        /* width:140% !important; */
    }
    
    @-webkit-keyframes fade {
        0% {
            filter: brightness(100%);
        }
    
        100% {
            filter: brightness(80%);
        }
    }
    
    @-webkit-keyframes brighten {
        0% {
            filter: brightness(80%)
        }
    
        100% {
            filter: brightness(100%);
        }
    }

    
    
    .scaleup {
        -webkit-animation: scaleup 0.5s;
        transform: scale(1.1, 1.1);
    }
    
    @-webkit-keyframes scaleup {
        0% {
          
          transform: scale(1, 1);
        }
    
        100% {
           transform: scale(1.1, 1.1);
        }
    }
    
    
    .thumbnailFade {
        -webkit-animation: thumbnailFade 1s;
        opacity: 1;
    }
    
    @-webkit-keyframes thumbnailFade {
        0% {
            opacity: 0;
    
        }
        100% {
    
            opacity: 1;
        }
    }
    
    #myImage {
        width: 250px !important;
        height: 250px !important;
        position:relative;
        border: 10px solid white
    }
}

